<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Hola mundo {{ twitter }}</h1>
  <h2>Value:</h2>
  <input type="text" [value]="twitter">
  <input type="text" value="twitter">
  <h2>Data binding:</h2>
  <input type="text" [value]="twitter" (input)="updateTwitter( $event.target.value )" >
  <h2>ngModel:</h2>
  <input type="text" [(ngModel)]="twitter" >
  <h2>Click</h2>
  <button ion-button (click)="showAlert()">Click me!!</button>
  <h1>local variable</h1>
  <p #myVar>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quibusdam ullam porro quaerat, debitis repellendus aspernatur quod eum omnis itaque recusandae dolore iste laboriosam numquam eius? Laboriosam provident architecto, officiis.</p>
  <button ion-button (click)="changeHtml( myVar )">Change me!!</button>
  <h1>NgIf</h1>
  <input type="text" [(ngModel)]="twitter">
  <button ion-button *ngIf="twitter == 'nicobytes'">Show me!</button>
  <button ion-button *ngIf="twitter != 'nicobytes'">hide me!</button>
  <h1>ngFor</h1>
  <input type="text" [(ngModel)]="newName">
  <button ion-button (click)="addName( newName )">add</button>
  <button ion-button (click)="removeName()">remove</button>
  <ul>
    <li *ngIf="names.length == 0">No hay items</li>
    <li *ngFor="let name of names">
      {{ name }}
    </li>
  </ul>
</ion-content>
